@media (min-width:1440px) {
    .attribution{
        width: 336px;
        height: 474px;
    }
    .tag-name{
        font-size: 14px;
    }
    .publish-date{
        font-size: 14px;
    }
    .title{
        font-size: 24px;
    }
    .description{
        font-size: 16px;
    }
}
@font-face {
    font-family: 'Algerian';
    src: local('Algerian');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/static/Figtree-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
body{
    background-color: hsl(47,88%,63%);
}
.container{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47,88%,63%);
}

.attribution { 
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 279px;
    height: 453px;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
}
.blogImage{
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}
.blogDescription{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 4px 12px;
    background-color: hsl(47,88%,63%);
    border-radius: 4px;
}
.tag-name{
    font-family: 'Figtree',sans-serif;
    font-weight: 800;
    font-size: 12px;
    margin: 0;
    color: hsl(0, 0%, 7%);
}
.publish-date{
    font-family: 'Figtree',sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    color: hsl(0, 0%, 7%);
}
.title{
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Figtree',sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    color: hsl(0, 0%, 7%);
}
.title:hover{
    color: hsl(47,88%,63%);
}
.description{
    font-family: 'Figtree',sans-serif;
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    color: hsl(0, 0%, 42%);
}
.author{
    display: flex;
    gap: 12px;
    align-items: center;
    width: fit-content;
    height: fit-content;
}
.profile-photo{
    width: 32px;
    height: 32px;
}
.authorName{
    font-family: 'Figtree',sans-serif;
    font-weight: 800;
    font-size: 14px;
    margin: 0;
    color: hsl(0, 0%, 7%);
}

